# Local/private config goes in the include
[include]
  path = ~/.gitconfig.local
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  pp = !"echo \"Pull $1\"; git pull $1; echo \"Push $1\"; git push $1;"
  files = "!git diff --name-status $1^ $1"
  tests = !"echo \"Test Merge with $1 \n\"; git push origin $1; git checkout tests; git pull origin tests; git merge $1; git push origin tests;"
  teste = !"echo \"Test Merge with $1 \n\"; git push origin $1; git checkout teste; git pull origin teste; git merge $1; git push origin teste;"
  new = !"echo \"New branch $1 from the master \n\"; git checkout master; git pull origin master; git checkout -b $1;"
  update = !"echo \"Update branch $1 with master \n\"; git pull origin $1; git checkout master; git pull origin master; git checkout $1; git merge master;"
  rb = rbranch
  rv = review
  st = status
  ksdiff = difftool -y -t Kaleidoscope
[branch "master"]
  remote = origin
  merge = refs/heads/master
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[rerere]
  enabled = 1
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[url "git@heroku.com:"]
  insteadOf = "heroku:"
