export PATH="~/Programas/PhpStorm/bin:$PATH"
alias docker-restart='docker-compose down && docker-compose rm && docker-compose up --build'
alias docker-clean='docker-compose down && docker-compose rm'
alias c='php ~/.config/composer/vendor/bin/composer'
alias a='phpstan analyse'
alias m='code .'

alias products='cd $DEV_FOLDER_PRODUCTS'
alias mp='cd $DEV_FOLDER_PRODUCTS/MinhaPeca'
alias Girls='cd $DEV_FOLDER_PRODUCTS/Girls'
alias Boss='cd $DEV_FOLDER_PRODUCTS/Boss'
alias ofs='/sierra/Dev/InnovSoftware/ofs'
alias banlek='/sierra/Dev/Banlek/BanlekLaravel'

alias Novacao='cd $DEV_FOLDER_PRODUCTS/novacao'
alias eng='cd $DEV_FOLDER_PRODUCTS/eunagarupa'

alias libs='cd $DEV_FOLDER_LIBS'
alias Tools='cd $DEV_FOLDER_LIBS/Tools'
alias Facilitador='cd $DEV_FOLDER_LIBS/Facilitador'


alias rica='cd $BUSINESS_FOLDER_ROOT'
#alias bilo='cd ~/Desenvolvimento/Business/Bilo'
#alias sc='cd ~/Desenvolvimento/Business/StopClub'

# alias internal='cd ~/Desenvolvimento/Business/Sitec/Libs/Internal'

# alias business='cd ~/Desenvolvimento/Business'