export PATH="~/Programas/PhpStorm/bin:$PATH"
alias docker-restart='docker-compose down && docker-compose rm && docker-compose up --build'
alias docker-clean='docker-compose down && docker-compose rm'
alias c='php ~/.config/composer/vendor/bin/composer'
alias a='phpstan analyse'

alias products='cd ~/Desenvolvimento/Sitec/Products'
alias internal='cd ~/Desenvolvimento/Sitec/Libs/Internal'
alias business='cd ~/Desenvolvimento/Sitec/Business'
alias libs='cd ~/Desenvolvimento/Libs'
alias hobbi='cd ~/Desenvolvimento/Tecnologia/Hobbi'
alias bilo='cd ~/Desenvolvimento/Bilo'
