<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adapter</key>
	<string></string>
	<key>AdapterIp</key>
	<string></string>
	<key>AllowBroadcast</key>
	<true/>
	<key>AutoFixLayout</key>
	<false/>
	<key>AutoUpdate</key>
	<true/>
	<key>CanSwitchCorners</key>
	<true/>
	<key>CanSwitchFullScreen</key>
	<true/>
	<key>CanSwitchMaximized</key>
	<true/>
	<key>ClbHotkey</key>
	<dict>
		<key>characters</key>
		<string>v</string>
		<key>charactersIgnoringModifiers</key>
		<string>v</string>
		<key>keyCode</key>
		<integer>9</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>ControlInputSource</key>
	<true/>
	<key>ControlPartnerInputSource</key>
	<false/>
	<key>CustomKeyMap</key>
	<string>59,58,55,55</string>
	<key>DarkenScreen</key>
	<real>0.0</real>
	<key>DebugMode</key>
	<false/>
	<key>DoBubbles</key>
	<true/>
	<key>DoClbSync</key>
	<true/>
	<key>DoDnd</key>
	<true/>
	<key>DoEncrypt</key>
	<false/>
	<key>DoMousePanning</key>
	<false/>
	<key>DoubleForceSwitch</key>
	<false/>
	<key>EasySwitch</key>
	<false/>
	<key>EnDisHotkey</key>
	<dict/>
	<key>FirstStart</key>
	<false/>
	<key>ForceBackForward</key>
	<true/>
	<key>HIDSimulation</key>
	<true/>
	<key>HideConsoleDebugDlg</key>
	<false/>
	<key>HideUpdateDlg</key>
	<false/>
	<key>HideUpdatePrivacyDlg</key>
	<false/>
	<key>ID</key>
	<string></string>
	<key>KnownClientsList</key>
	<dict/>
	<key>LocalInputReset</key>
	<false/>
	<key>LocalMonitors</key>
	<string>n1,w2560,h1080,l1680,t-1050,d96,z100,i270091,munknown,s0,c0;n0,w1680,h1050,l0,t-1050,d96,z100,i4251086178,munknown,s0,c0</string>
	<key>LoopSwitch</key>
	<false/>
	<key>MMHeight</key>
	<real>0.0</real>
	<key>MMWidth</key>
	<real>0.0</real>
	<key>MonitorHotkeys</key>
	<dict/>
	<key>MouseSense</key>
	<real>0.019999999552965164</real>
	<key>MouseSpeed</key>
	<real>1</real>
	<key>MouseSwitchEnabled</key>
	<true/>
	<key>MouseSwitchHK</key>
	<integer>0</integer>
	<key>MouseSwitchHKMode</key>
	<true/>
	<key>NextUpdate</key>
	<date>2025-03-14T15:46:13Z</date>
	<key>NoSwitchApps</key>
	<array/>
	<key>PanicCount</key>
	<integer>2</integer>
	<key>PanicKey</key>
	<dict>
		<key>keyCode</key>
		<integer>53</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>Rdata2</key>
	<string>VAZD</string>
	<key>ScrollDirection</key>
	<integer>1</integer>
	<key>ScrollDirectionH</key>
	<integer>1</integer>
	<key>ScrollLineSize</key>
	<integer>10</integer>
	<key>ScrollSpeed</key>
	<real>1</real>
	<key>ScrollSpeedH</key>
	<real>1</real>
	<key>SendFlagsAsKeyEvent</key>
	<true/>
	<key>ShowFirstStart</key>
	<true/>
	<key>SkipCheckSecureInput</key>
	<false/>
	<key>SkipUpdateVer</key>
	<integer>0</integer>
	<key>SwitchHotkey</key>
	<dict/>
	<key>SyncKbdLayout</key>
	<false/>
	<key>SyncLockKeys</key>
	<false/>
	<key>SyncPCState_0</key>
	<false/>
	<key>SyncPCState_1</key>
	<false/>
	<key>SyncPCState_2</key>
	<false/>
	<key>SyncPCState_3</key>
	<false/>
	<key>SyncPCState_4</key>
	<false/>
	<key>SyncPCState_5</key>
	<false/>
	<key>SyncPCState_6</key>
	<false/>
	<key>SyncPCState_7</key>
	<false/>
	<key>SyncShowConfirm_0</key>
	<true/>
	<key>SyncShowConfirm_1</key>
	<true/>
	<key>SyncShowConfirm_2</key>
	<true/>
	<key>SyncShowConfirm_3</key>
	<true/>
	<key>SyncShowConfirm_4</key>
	<true/>
	<key>SyncShowConfirm_5</key>
	<true/>
	<key>SyncShowConfirm_6</key>
	<true/>
	<key>SyncShowConfirm_7</key>
	<true/>
	<key>TCPPort</key>
	<integer>6555</integer>
	<key>ToggleHotkey</key>
	<dict/>
	<key>UDPPort</key>
	<integer>1046</integer>
	<key>UpdateMacVer</key>
	<integer>0</integer>
	<key>UpdateMode</key>
	<integer>1</integer>
	<key>UpdatePending</key>
	<false/>
	<key>UpdateWinVer</key>
	<integer>0</integer>
	<key>UseHardDim</key>
	<false/>
	<key>UseIPv6</key>
	<false/>
	<key>UserSessionActive</key>
	<false/>
	<key>layoutHintShown</key>
	<false/>
	<key>needClientShown</key>
	<false/>
	<key>needEncShown</key>
	<false/>
	<key>needPassShown</key>
	<false/>
	<key>oldVersion</key>
	<integer>0</integer>
	<key>showMultiAdapterWarn</key>
	<true/>
	<key>updateExpiredShown</key>
	<false/>
</dict>
</plist>
